.signupForm {
    border: 1px solid rgb(76, 76, 190);
    width: 60%;
    margin: 20px auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.signupForm .signupMsg {
    flex-basis: 80%;
    margin: 0px;

}

.signupForm .signUpHeader {
    flex-basis: 80%;
}

.signupForm input {
    flex-basis: 80%;
    margin: 10px auto;
    line-height: 2;
}

.signupForm .signupBtn {

    flex-basis: 30%;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(76, 163, 190);
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
}

.signupForm .signupBtn:hover {

    background-color: #264364;
    cursor: pointer;
}

.signupForm .signupBtn:disabled {
    background-color: #7a8188;
}

.signupForm .break {
    flex-basis: 100%;
}
